.postcard {
	background-color: #FFFFFF;
	text-align: center;
	width: 100%;
	margin: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card {
	border: none;
}

.postcard img {
	height: 200px;
}

.title {
	padding-top: 10px;
}

.postcard a {
	width: 30%;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}